.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fcf9ee;
  margin-bottom: 30px;

  .sec1 {
    margin: 20px;
  }

  .sec2 {
    display: flex;
    flex-direction: row;
    margin: 40px;
    gap: 80px;
    margin-bottom: 150px;
    margin-top: 150px;
  }

  .sec2 img:hover {
    filter: opacity(90%);
  }

  h1 {
    font-size: 70px;
    font-family: 'RegularBoldCello', Times, serif;
    font-style: italic;
    align-items: center;
    height: 50px;
    margin-bottom: 150px;
    margin-left: 100px;
    box-sizing: border-box;
    width: 100%;
  }

  .itemlist {
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;

    ul {
      display: flex;
      transition: 0.3s;

      li {
        img {
          width: 70%;
          height: 70%;
          margin-bottom: 80px;
        }

        &:hover {
          filter: contrast(90%);
          transition: 0.2s;
        }
      }
    }
  }

  .detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
  }

  .brand {
    font-style: italic;
    font-weight: bold;
  }

  .sec3 {
    display: flex;
    align-items: center;
    margin: 200px auto;
  }
  .textbox {
    justify-content: center;
    padding: 100px;
  }

  .sec3:hover {
    filter: contrast(85%);
    transition: 0.2s;
  }

  .textbox1 {
    font-size: 40px;
    font-family: 'Nanum Myeongjo', PingFang, Times, 'Times New Roman', serif;
    letter-spacing: 0.01em;
    line-height: 1.33333;
    padding: 30px 0 40px 10px;
  }

  .textbox2 {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
  }

  .video {
    width: 100%;
  }

  .scentclick {
    font-size: 30px;
    border: none;
    background-color: #f7f6f2;
    margin-left: 100px;

    &:hover {
      color: rgb(168, 131, 131);
    }
  }

  .sec5 {
    display: flex;
    flex-direction: row;
    margin: 5px;
    gap: 100px;
    margin-bottom: 150px;
  }

  .itemlist_2 {
    display: flex;
    width: 100%;

    ul {
      display: flex;

      li {
        width: 50%;

        img {
          width: 90%;
          height: 60%;
          margin-bottom: 70px;
        }
      }
    }
  }

  .detail_2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
  }

  .brand_2 {
    font-style: italic;
    font-weight: bold;
  }

  .slidebox {
    width: 100%;
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;

    img {
      max-width: 100%;
    }

    .slidelist {
      transition: 0.3s;
    }

    .slideitem {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
    }
  }

  .arrowContainer {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 40px;
    transform: translateY(-50%);

    .arrow {
      width: 50px;
      filter: contrast(75%);
      cursor: pointer;

      &:hover {
        filter: contrast(25%);
        transition: 0.3s;
      }
    }
  }

  .sec4 {
    display: flex;
    flex-direction: column;
    margin: 200px auto;
  }

  .textbox_2 {
    margin: 40px auto;
  }

  .textbox1_2 {
    font-size: 40px;
    font-family: 'Nanum Myeongjo', PingFang, Times, 'Times New Roman', serif;
    letter-spacing: 0.07em;
    line-height: 1.43333;
    padding: 30px 10px 30px 10px;
    margin: 0 auto;
    text-align: center;
  }

  .textbox2_2 {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    margin: 10px auto;
    text-align: center;
    text-decoration: underline;
  }
}
