.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f6f2;

  margin-bottom: 30px;

  // justify-content: space-between;
}

.sec1 {
  margin: 20px;
}

.sec2 {
  display: flex;
  flex-direction: row;
  margin: 40px;
  gap: 70px;
  margin-bottom: 150px;
  margin-top: 150px;
}

h1 {
  font-size: 70px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;

  // position: absolute;
  // left: 40px;
  // top: 50px;
  // display: flex;
  // justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-bottom: 150px;
  margin-left: 100px;
  box-sizing: border-box;
  width: 100%;
  // overflow: hidden;
  // bottom: -170px;
}

.itemlist {
  display: flex;
  width: 100%;

  // flex-direction: row;
  // position: relative;
  // border: 1px ;

  ul {
    display: flex;

    // flex-direction: column;
    li {
      // border: 1px solid red;

      width: 30%;

      img {
        width: 100%;
        height: 70%;
        margin-bottom: 70px;
      }
    }
  }
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 20px;
  // margin-top: 10px;
}

.brand {
  font-style: italic;
  font-weight: bold;
}

.sec3 {
  display: flex;
  align-items: center;
  // margin-top: 200px;
  margin: 200px auto;
  // width: 100%;
}
.textbox {
  justify-content: center;
  padding: 100px;
}
.textbox1 {
  font-size: 40px;
  font-family: 'Nanum Myeongjo', PingFang, Times, 'Times New Roman', serif;
  letter-spacing: 0.01em;
  line-height: 1.33333;
  padding: 30px 0 40px 10px;
}

.textbox2 {
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
}

.video {
  width: 100%;
}

.scents {
  // margin-bottom: 10px;
}

.scentclick {
  font-size: 30px;
  border: none;
  background-color: #f7f6f2;
  margin-left: 100px;
}

.sec5 {
  // display: flex;
  // height: 100%;
  // width: 100%;
  // justify-content: space-between;
  // back
  display: flex;
  flex-direction: row;
  margin: 40px;
  gap: 150px;
  margin-bottom: 150px;
  margin-top: 150px;
}

.itemlist_2 {
  display: flex;
  width: 100%;

  // flex-direction: row;
  // position: relative;
  // border: 1px ;

  ul {
    display: flex;

    // flex-direction: column;
    li {
      // border: 1px solid red;

      width: 50%;

      img {
        width: 100%;
        height: 60%;
        margin-bottom: 70px;
      }
    }
  }
}

.detail_2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 20px;
  // margin-top: 10px;
}

.brand_2 {
  font-style: italic;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}
