$primary-color: #008cba;
$gray-color: #ddd;
$medium-up: 600px;
$large-up: 1000px;
$global-radius: 4px;

#Cart {
  background-color: #fcf9ee;
  min-height: 40rem;
  border: 1px solid black;
  padding: 15px;
}

@mixin heading-font-regular {
  font-family: 'Helvetica', 'Helvetica Neue', 'Arial', sans-serif;
}

// main {
//   padding: 2em;
//   // float: left;
//   width: 100%;
// }

///BASIC TABLE STYLING
table {
  border-collapse: collapse;
  display: block;
  width: 90%;
  // float: left;
  margin: 2em;
  // table-layout: fixed;
  thead {
    border-bottom: 3px solid $primary-color;
    th {
      padding: 0.35em 0 0.35em;
      font-weight: 400;
      text-align: center;
      @include heading-font-regular;
      font-size: 1.25em;
    }
  }

  tbody {
    border-bottom: 3px solid $primary-color;
    tr {
      border-bottom: 2px solid #ddd;

      td {
        padding: 0.75em;
        text-align: center;
        span {
          min-width: 100px;
          padding: 3px;
        }
      }
    }
  }

  tfoot {
    td {
      padding: 0.35em 0 0.35em;

      text-align: left;
      @include heading-font-regular;
      font-size: 1.25em;
    }
  }
}

@media screen and (min-width: $large-up) {
  table {
    width: 90%;

    thead {
      border-bottom: 3px solid $primary-color;
      // th {
      // }
    }

    tbody {
      tr {
        border-bottom: 1px solid #ddd;
        td {
          span {
            min-width: 100px;
            padding: 3px;
          }
        }
      }
    }
  }
}

///RWD MIXIN BELOW
@mixin rwdFirst {
  display: block;

  tbody {
    border: none;
  }
  tbody,
  th,
  td,
  tr,
  tfoot {
    display: block;
  }

  thead {
    display: none;
  }
  tr {
    float: left;
    width: 100%;
    margin: 0 0 1em;
    border: 1px solid $gray-color;
    box-shadow: 0px 2px 5px 0px $gray-color;
    border-radius: $global-radius;
    border-top: 5px solid $primary-color;

    td {
      padding: 0.5em 0.5em 0.5em 50%;
      float: left;
      // width: 100%;
      &:before {
        // width: 100%;
        display: block;
        float: left;
        padding: 0.5em 0.5em 0.5em 0;
        clear: both;
        margin: -0.5em 0 0 -100%;
        @include heading-font-regular;
        font-size: 1.125em;
      }
      span {
        min-width: 100px;
        padding: 3px;
      }
    }
  }

  // tr:nth-of-type(even) {
  //background: $gray-color;
  // td {
  //   &:before {
  //   }
  // }
  // }
}

@mixin rwdSecond {
  display: table;
  border: none;

  tbody {
    border-bottom: 3px solid $primary-color;
  }
  th,
  td {
    display: table-cell;
  }

  tr {
    display: table-row;
    border: none;
    border-bottom: 1px solid #eee;
    float: none;
    margin: 0;
    box-shadow: none;

    td {
      padding: 0.75em 0.75em 0.75em 0.75em;
      float: none;
      // width: auto;
      &:before {
        padding: 0 !important;
      }
      span {
        min-width: 100px;
        padding: 3px;
      }
    }
  }

  thead {
    display: table-header-group;
  }

  tbody,
  tfoot {
    display: table-row-group;
  }

  tr:nth-of-type(even) {
    background: none;
    // td {
    //   &:before {
    //   }
    // }
  }
}

%responive-tables-large {
  @include rwdFirst;

  @media screen and (min-width: $large-up) {
    @include rwdSecond;
  }
}

@mixin responive-tables-large($headings...) {
  $list: $headings;

  @each $list-headings in $list {
    $i: index($list, $list-headings);
    tbody tr td:nth-of-type(#{$i}):before {
      content: $list-headings;
    }

    @media screen and (min-width: $large-up) {
      tbody tr td:nth-of-type(#{$i}):before {
        content: '';
      }
    }
  }
}

#payBtn {
  width: 20em;
  height: 5em;
  // float: right;
  display: inline-block;
  margin-left: 45%;
  border-radius: 5px;
  background-color: #2d71f7;
  opacity: 0.8;
  &:hover {
    opacity: 1;
    transition: 0.7s;
  }

  p {
    font-size: large;
  }
}

#checkbox {
  width: 5%;
}

#countbox {
  width: 100px;
}

#item {
  width: 35%;
}

#price {
  width: 25%;
}

#count {
  width: 25%;
}

#deletebox {
  width: 10%;
}
