.info1 {
  margin: 50px auto;
  margin-left: 320px;
}
.info2 {
  margin: 30px auto;
  margin-left: 300px;
}
.info3 {
  margin: 30px auto;
  margin-left: 300px;
}
.info4 {
  margin: 30px auto;
  margin-left: 350px;
}
.info5 {
  margin: 30px auto;
  margin-left: 350px;
}
