* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

nav .wrapper {
  background: blue;
  padding: 0 30px;
  margin: auto;
}

.wrapper .logo a {
  color: white;
  text-decoration: none;
}

.nav_menu li a {
  color: white;
}
